<div id="services" class="container-fluid text-center">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Productos & Servicios</h1>
            <p class="lead text-muted">
                Podemos Ayudarlo, URGENCIAS LAS 24 HS
            </p>
        </div>
    </section>

    <br>
    <div class="row bgd_celeste_claro">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/espejo_parabolico.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        ESPEJOS
                    </p>
                    <p class="text-muted">
                        Parabolicos, Laminados, <br> Viselados
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/cristales_puertas.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        CRISTALES
                    </p>
                    <p class="text-muted">
                        Templados, Puertas, paños fijos, tabiques divisores y mamparas para baño
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/policarbonato_alveolar.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        CERRAMIENTOS
                    </p>
                    <p class="text-muted">
                        Techos de Vidrio, Policarbonatos Alveolar <br> y Compacto
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/cristales_curvados.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        TRABAJOS ESPECIALES
                    </p>
                    <p class="text-muted">
                        Cristales Curvados para Instalaciones <br> Comerciales
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/catedral.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        FANTASIA
                    </p>
                    <p class="text-muted">
                        Cristales, Espejos <br> y Vidrios Impresos Catedral
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/biselados.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        TERMINACIONES
                    </p>
                    <p class="text-muted">
                        Pulidos especiales <br> y biselados
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/antibala.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        SEGURIDAD
                    </p>
                    <p class="text-muted">
                        Cristales Antibala, Laminados <br> y Multi Laminados
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/carpinteria.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        INSTALACIONES
                    </p>
                    <p class="text-muted">
                        Provisión y Colocación en Obras y Particulares, Carpinterías de Aluminio
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="assets/servicios/polifit.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                <div class="card-body">
                    <p class="card-text">
                        FACHADAS
                    </p>
                    <p class="text-muted">
                        Profilit, <br> Pieles de Vidrio
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>