<div id="services" class="container-fluid text-center">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Productos & Servicios</h1>
            <p class="lead text-muted">
                Podemos Ayudarlo, URGENCIAS LAS 24 HS
            </p>
        </div>
    </section>

    <br>
    <div class="row bgd_celeste_claro">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>ESPEJOS</h4>
            <p>Parabolicos, Laminados, Viselados</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>CRISTALES</h4>
            <p>Templados, Puertas, paños fijos, tabiques divisores y mamparas para baño</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>CERRAMIENTOS</h4>
            <p>Techos de Vidrio y Policarbonatos Alveolar y Compacto</p>
        </div>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>TRABAJOS ESPECIALES</h4>
            <p>Cristales Curvados para Instalaciones Comerciales, Cristales Biselados</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>FANTASIA</h4>
            <p>Cristales, Espejos y Vidrios Impresos Catedral</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>TERMINACIONES</h4>
            <p>Pulidos especiales y biselados</p>
        </div>
    </div>
    <br><br>
    <div class="row ">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>SEGURIDAD</h4>
            <p>Cristales Antibala, Laminados y Multi Laminados</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>INSTALACIONES</h4>
            <p>Provisión y Colocación en Obras y Particulares, Carpinterías de Aluminio.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>FACHADAS</h4>
            <p>Profilit, Pieles de Vidrio</p>
        </div>
    </div>
    <br><br>
</div>