<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <h1>Nosotros</h1>
            <br>
            <h4>
                Somos una Empresa, dedicada a la provisión e instalación de vidrios templados, cristales, espejos, policarbonatos, mantenimiento general puertas blindex, trabajos en altura, etc.
            </h4><br>
            <p>
                Poseemos una amplia experiencia en el rubro, lograda a través de años de presencia ininterrumpida en el mercado de la construcción, brindando atención personalizada, calidad de terminación y el servicio post-venta requeridos.
            </p>
        </div>
        <div class="col-sm-5">
            <img class="responsive" src="assets/nosotros/01.jpg" alt="" srcset=""> </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-5">
            <img class="responsive" src="assets/nosotros/01.jpg" alt="" srcset="">
        </div>
        <div class="col-sm-7">
            <h1>Nuestro Compromiso</h1>
            <br>
            <h4>
                La flexibilidad y la orientación al profesional-cliente alcanzadas por nuestra organización, nos permiten proveerle de un servicio rápido, seguro y a precios competitivos para que no se produzcan atrasos ni imprevistos que compliquen el cumplimiento de
                sus compromisos en tiempo y forma.
            </h4><br>
            <h4>
                Gustosos de habernos comunicado con Ud. nos encontramos a su disposición, para colaborar en el cumplimiento de sus objetivos.
            </h4>
        </div>
    </div>
</div>