<table>
    <tr>
        <th>
            <a routerLink="\home">
                <div class="der">
                    {{ mensaje.fecha }}
                </div>
            </a>
        </th>
        <th>
            <div class="pill-nav p-1">
                <a *ngIf="leido" (click)="lanzarMensaje($event)"><i class="fa fa-envelope"></i></a>
                <a *ngIf="noleido"><i class="fa fa-envelope-open"></i></a>
                <a><i class="fa fa-trash"></i></a>
            </div>
        </th>
    </tr>
    <tr>
        <td>
            <a routerLink="\home">
                {{ mensaje.nombre }}
            </a>
        </td>
    </tr>
</table>