<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Telefono" type="text" required>
        </div>
    </div>
    <textarea class="form-control" id="comments" name="comments" placeholder="¿En qué podemos ayudarte?" rows="5"></textarea><br>
</div>