<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/logo-dark.svg" class="logo d-block" alt="Logo Digital Agency">
                <small class="d-block mt-3">Copyright © 2018 Digital Agency.<br>
            All rights reserved.</small>
            </div>
            <div class="col-md-2 d-flex">
                <ul class="list-unstyled mb-0 align-self-center">
                    <li><a href="#">Home</a></li>
                    <li class="mt-3"><a href="#">Team</a></li>
                    <li class="mt-3"><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="col-md-3 d-flex">
                <ul class="list-unstyled mb-0 align-self-center">
                    <li><a href="#">Services</a></li>
                    <li class="mt-3"><a href="#">Frequently Asked Questions</a></li>
                    <li class="mt-3"><a href="#">Testimonials</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline float-md-right">
                    <p>Follow us:</p>
                    <li class="list-inline-item mr-3"><a href="#"><i class="icon ion-logo-instagram lead"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="#"><i class="icon ion-logo-facebook lead"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="icon ion-logo-twitter lead"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="divider mt-5"></div>
        <div class="row mt-4">
            <div class="col-md-6">
                <small><a href="#">Terms and Conditions</a> & <a href="#">Privacy Policy</a></small>
            </div>
            <div class="col-md-6">
                <small class="float-md-right">Made by <a href="https://themesbootstrap.com.mx/" target="_blank">Themes
              Bootstrap</a></small>
            </div>
        </div>
    </div>
</footer>