<footer class="bgd_naranja">
    <div class="row">
        <div class="container p-2">
            <h3>MV VIDRIOS</h3>
        </div>

    </div>
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <ul>
                    <li>
                        <h5 class="text-uppercase">
                            <i class="fas fa-map-marker-alt"></i>
                            <strong>¿DÓNDE ESTAMOS?</strong>
                        </h5>
                    </li>
                    <li class="p-b-10">
                        <p class="stext-107 cl7 trans-04">
                            Calle 92 Nro. 502 (1914)
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7 trans-04">
                            La Plata, Buenos Aires
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7 trans-04">
                            Argentina
                        </p>
                    </li>
                    <li>
                        <a href="https://www.google.com.ar/maps/place/Vidrieria+M.V+VIDRIOS+Urgencias+las+24hs+La+Plata/@-34.9428726,-57.9076641,17z/data=!3m1!4b1!4m5!3m4!1s0x95a2efa713b5a54b:0xc798fe800542491a!8m2!3d-34.9428726!4d-57.9054754" target="_blank">
                            <button type="button" class="btn btn-info">Ver Mapa</button>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5><strong>Secciones</strong></h5>

                <ul class="list-unstyled" style="list-style-type:none">
                    <li class="mt-1">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li class="mt-1">
                        <a routerLink="/nosotros">Nosotros</a>
                    </li>
                    <li class="mt-1">
                        <a routerLink="/servicios">Productos & Servicios</a>
                    </li>
                    <li class="mt-1">
                        <a routerLink="/trabajos">Trabajos</a>
                    </li>
                    <li class="mt-1">
                        <a routerLink="/contacto">Pedí cotización</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5><strong>Contacto</strong></h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-whatsapp"></i> &nbsp; 0221 15-359-6425
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-phone"></i> &nbsp; 0221 459-3776
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="mailto:mvl.vidrios@gmail.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="fa fa-envelope"></i>&nbsp; mvl.vidrios@gmail.com
                            </a>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/miguel.vidrios.94" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook fa-lg"></i>&nbsp;
                        </a>


                        <a href="https://www.instagram.com/mvvidrios/" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram fa-lg"></i>&nbsp;
                        </a>

                        <a href="https://twitter.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-twitter fa-lg"></i>&nbsp;
                        </a>

                        <a href="https://www.youtube.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-youtube fa-lg"></i>&nbsp;
                        </a>

                        <a href="https://www.linkedin.com" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-linkedin fa-lg"></i>&nbsp;
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <div class="divider mt-5"></div>

    <div class="row mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/dogo/logo.png" href="https://www.dogosoft.com.ar/" target="_blank" alt="" srcset="">
                    <a href="https://www.dogosoft.com.ar/" target="_blank">Desarrollado por DOGOSOFT & HARD</a>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</footer>