<section class="jumbotron text-center">
    <div class="container">
        <h1>Trabajos Seleccionados</h1>
        <p class="lead text-muted">
            Trabajamos con las mejores marcas del mercado, asegurando un desempeño optimo de nuestros trabajos
        </p>
    </div>
</section>

<div class="album py-5 bgd_celeste_claro">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/1.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Perimetro de Escaleras
                        </p>
                        <p class="text-muted">
                            Proteja a su Familia con Estilo
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/2.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Frentes Vidridiados
                        </p>
                        <p class="text-muted">
                            Para Empresas o Comercios
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/3.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Recepciones
                        </p>
                        <p class="text-muted">
                            Excelente Aspecto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/4.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Recepciones
                        </p>
                        <p class="text-muted">
                            Seguridad y Diseño
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/5.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Blindados
                        </p>
                        <p class="text-muted">
                            Proteccion Asegurada
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/6.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Perimetro de Escaleras
                        </p>
                        <p class="text-muted">
                            Proteja a su Familia con Estilo
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/7.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Cocinas
                        </p>
                        <p class="text-muted">
                            Increible Aspecto
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/8.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Alacenas
                        </p>
                        <p class="text-muted">
                            Vidrios Esmerilados, Espejados, Polarizados
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="assets/trabajos/9.jpg" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="" srcset="">
                    <div class="card-body">
                        <p class="card-text">
                            Espejos
                        </p>
                        <p class="text-muted">
                            Especiales a su Medida
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>