<nav class="navbar navbar-expand-md navbar-dark fixed-top">

    <a class="d" routerLink="/home">
        <img src="/assets/logo.png" height="60" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>

            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/nosotros" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Nosotros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/servicios" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Productos & Servicios</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/trabajos" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Trabajos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contacto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Contacto</a>
            </li>

            <div *ngIf='identity'>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" id="id10" ngbDropdownToggle>
                        <span class="badge badge-light">  {{ cantNoLeidos }} </span> Hola {{ identity.usuario | titlecase }}
                    </a>
                    <div class="dropdown-content dropdown-menu-right" aria-labelledby="id10" ngbDropdownMenu>
                        <a class="dropdown-item" routerLink="/cpanel">Mensajes</a>
                        <a class="dropdown-item" routerLink="/home" (click)="logout()">Cerrar Sesión</a>
                    </div>
                </li>
            </div>

        </ul>
    </div>
</nav>